.page--2 {
    max-width: 160rem;
     height: 61rem;
    margin: 0 auto;
    margin-bottom: 6rem;

    &__img--2 {
        position: relative;
        margin-top: 14.6rem;
        margin-left: 16rem;
        width: 55rem;
        height: 40rem;
    }

    &__img--3 {
        position: relative;
        bottom: 48rem;
        left: 139.5rem;
    }

    .col-1-of-2 {
        float: left;
        width: calc(100%/2);
    }

    .col-2-of-2 {
        float: right;
        width: calc(100%/2);
    }

    &__text {
        
        margin-top: 14rem;
        

        & h1 {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            margin-bottom: 2rem;
            width: 46rem;
        }

        & h3 {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            width: 21rem;
        }

        & p {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            width: 46rem;
            margin-bottom: 4.5rem;

            &:last-child {
                margin-top: 4.5rem;
            }
        }
    }
}

.page--3 {
    width: 100%;
    height: 115rem;
    
    &__slide__left {
        position: absolute;
        margin-top: 41rem;
        margin-left: 9rem;
        float: left;

        &-arrow {
            transform: translate(-235%, -250%);
        }
    }

    &__slide__right {
        position: relative;
        float: right;
        bottom: 44rem;
        right: 8rem;
        &-arrow {
            transform: translate(-235%, -250%);
        }
    }

    &__button {
        position: absolute;
        left: 64.5rem;
        margin-top: 11rem;
        width: 29rem;
        height: 5rem;
        text-transform: uppercase;
        border-radius: 2.5rem;
        color: $white;
        border: none;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

        &:hover {
            cursor: pointer;
        }
    }

    &__palm {
        position: relative;
        bottom: 16rem;
    }

    &__strelitzia {
        position: relative;
        bottom: 16rem;
        left: 93.6rem;
    }
}

.grid {
    width: 80%;
    height: 85rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &__images {
        width: 36rem;
        height: 36rem;
        border-radius: 2%;
        border-end-end-radius: 0%;
        border-bottom-left-radius: 0%;
    }

    .col-1-of-3 {
        margin: 1rem auto;
        border: 1px solid;
        border-color: $orange;
        border-radius: 2%;

        h2 {
            text-transform: uppercase;
            font-family: 'Roboto';
            font-weight: 500;
            line-height: 160%;
            margin-left: 1.6rem;
        }

        p {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 130%;
            margin-left: 1.6rem;
            margin-bottom: 1.3rem;
        }
    }
}


.page--4 {
    height: 100rem;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;

    &__main__div {
        height: 83rem;
        width: 116rem;
        margin-left: auto;
        margin-right: auto;
        transform: translate(0%, 8%);
        vertical-align: middle;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;

        h1 {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            color: $orange;
            text-align: center;
            padding: 4rem 0rem;
        }

        h2 {
            font-family: sans-serif;
            font-weight: 400;
            line-height: 130%;
            text-align: center;
            font-size: 3.6rem;
            padding: 5rem 0;
        }

        .text {
            width: 88%;
            margin: 0 auto;
            h3 {
                font-family: sans-serif;
                font-style: normal;
                font-size: 24px;
                line-height: 120%;
                margin-bottom: 4rem;
            }

            .dark_line {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 250%;
            }

            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
            }
        }
    }

    .p1 {
        position: relative;
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        left: 15.1rem;
        top: 1rem;
    }

    .p2 {
        position: relative;
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        width: 16.8rem;
        left: 38.8rem;
        top: 3rem;
    }

    .p3 {
        position: relative;
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        width: 16.8rem;
        left: 55.5rem;
        top: 3rem;
    }

    &__payment {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        column-gap: -25rem;
        align-self: center;
        justify-self: center;
        padding-left: 15rem;
        

        &-1 {
            width: 16rem;
            height: 16rem;
            background-color: $white;
            border: 1px solid $orange;
            border-radius: 0.5rem;

            .payment-1-pic {    
                display: inline-block;
                position: relative;
                left: 2.5rem;
                top: 4.5rem;
            }

        }

        &-2 {
            width: 16rem;
            height: 16rem;
            background-color: $white;
            border: 1px solid $orange;
            border-radius: 0.5rem;

            .payment-2-pic {
                display: inline-block;
                position: relative;
                left: 3.5rem;
                top: 2.5rem;
            }

        }

        &-3 {
            width: 16rem;
            height: 16rem;
            background-color: $white;
            border: 1px solid $orange;
            border-radius: 0.5rem;

            .payment-3 {
                width: 15rem;
                height: 15rem;
            }

        }

    }

    &__button {
        position: absolute;
        left: 43rem;
        bottom: 6rem;
        width: 29rem;
        height: 5rem;
        text-transform: uppercase;
        border-radius: 2.5rem;
        color: $white;
        border: none;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    }
}

.testimonials {

    height: 82rem;

    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #333B41;
        margin-top: 14rem;
        margin-right: 69;
        margin-left: 69rem;
        margin-bottom: 5rem;
    }

    .container {
        margin: 0 22rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 1rem;
    }

    .col-1-of-4 {
        border: 1px solid ;
        background: #F1F3F2;
        border-radius: 2rem;
        width: 26rem;
        height: 39rem;
        

        .testimonials__user {
            position: relative;
            display: inline-block;
            width: 24rem;
            top: 1rem;
            left: 1rem;
        }

        .user-right-1 {
            position: relative;
            float: right;
            right: 5.5rem;

            h4 {
                display: inline-block;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
            }

            p {
                position: relative;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 120%;
                color: #BDBDBD;
            }
        }

        .user-right {
            position: relative;
            float: right;
            right: 3rem;

            h4 {
                display: inline-block;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
            }

            p {
                position: relative;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 120%;
                color: #BDBDBD;
            }

        }

        .testimonials__text {
            position: absolute;
            margin-top: 2rem;
            margin-left: 1rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            width: 24rem;
            height: 30rem;
        }

    }

    &__button {
        position: relative;
        bottom: 30rem;
        left: 21.8rem;
        width: 298px;
        height: 54px;
        border-radius: 0.5rem;
        color: $white;
        border-style: none;
        text-transform: uppercase;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    }

    &__img {
        position: relative;
        left: 105rem;
        top: 5rem;
    }

}

.footer {
    height: 44rem;
    background-color: $black;

    &__top {
        &-right {
            float: right;

            .footer__input {
                position: relative;
                top: 6rem;
                right: 22.5rem;
                border: 1px solid $orange;
                border-radius: 0.3rem;
                height: 4rem;
                width:22.5rem;
                background-color: $black;
                text-align: left;
                padding-left: 1rem;
                &::placeholder {
                    right: 1rem;
                    color: $white;
                    opacity: 1;

                }
                
            }

            .footer__button-right {
                position: relative;
                top: 6rem;
                right: 22rem;
                width: 15rem;
                height: 4rem;
                color: #4B9200;
                border: 1px solid #4B9200;
                border-radius: 0.5rem;
            }

            h2 {
                position: relative;
                top: 5rem;
                right: 22.6rem;
                font-family: sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 2.4rem;
                line-height: 120%;
                color: $white;
            }
        }
    }

    &__button {
        position: relative;
        top: 12rem;
        left: 13.5rem;
        width: 29rem;
        height: 5rem;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        color: $white;
        border: 1px solid &orange;
        border-radius: 0.5rem;
        border-style: none;
    }

    &__bottom {
        position: relative;
        width: 70%;
        display: grid;
        grid-template-columns: auto auto auto;
        left: 22rem;
        top: 16rem;

        &__column {
            td {
                position: relative;
                display: inline-block;
                margin-top: 1rem;     

                a {
                    text-decoration: none;
                    color: $white;
                    cursor: pointer;
                }
            }

            .td_text {
                position: relative;
                display: inline-block;
                font-family: sans-serif;
                font-size: 1.3rem;
                left: 1rem;
                bottom: 1px;
            }

            li {
                position: relative;
                display: inline-block;
                top: 10.7rem;
                left: 15rem;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                margin-right: 7rem;

                a {
                    text-decoration: none;
                    color: $white;

                    &:hover {
                        color: $orange;
                    }
                }

                &:first-child {
                    a {
                        color: $orange;
                    }
                }
            }

            .last_text {
                position: relative;
                top: 9rem;
                left: 15rem;
                width: 24rem;
                color: $white;
                font-family: sans-serif;
                font-weight: 100;
                font-size: 1.6rem;
                line-height: 130%;
            }
        }
    }
}